/*

Add styles or override variables from the theme here.

*/



$primary: #9933ff;
$light: #878683;
$link-color: #000000;
$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,600,600i";
